<html>

    <title>Home</title>
    
    <body>
        
        
        <h1>Photo Grabber</h1>
        <p> Es una aplicación que obtiene los datos de instagram del usuario y los despliega en pantalla. 
        Ingresa con tu cuenta presionando el boton.</p>
        <a href="https://api.instagram.com/oauth/authorize?client_id=xxx&redirect_uri=xxx&response_type=code">Login</a>
        
    </body>
    
</html>
